form {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-left: 15px;
    margin-top: 15px;
}

form label {
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
}

form input {
    border: none;
    border-bottom: 2px solid lightgray;
    background: none;
}

form button.btnEditar {
    border: 0;
    border-radius: 2px;
    width: 100%;
    height: 42px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    background: #4CAF50;
    color: #fff;
    cursor: pointer;
    margin-top: 15px;
}

form button.btnVoltar {
    border: 0;
    border-radius: 2px;
    width: 100%;
    height: 42px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    background: #008CBA;
    color: #fff;
    cursor: pointer;
    margin-top: 15px;
}

