*{
    margin: 0;
    padding: 0; 
    outline: 0;
    box-sizing: border-box;
  }

  body{
    background: rgb(163, 159, 159) no-repeat;
    background-size: cover;
    -webkit-font-smoothing: antialised !important;
  }